@{
    this.ViewData["Title"] = "Donate organisations";
}
@using AnimalShelter.Web.ViewModels.Administration.Donate
@model List<OrganisationListModel>
<section class="section-md section-md-alternate bg-white text-center">
    <div class="shell">
        <div class="group-xl group-middle">
            <h2 class="text-center">Organisations</h2>
        </div>
    </div>
    <div class="group-xl group-middle">
        <div class="cell-xs-10 cell-sm-6 cell-md-8">
            <a class="btn btn-outline-dark" asp-area="Administration" asp-controller="Donate" asp-action="Create" style="margin-bottom:25px">Add new organisation</a>
        </div>
    </div>
    <div class="shell">
        <div class="table-custom-responsive">
            <table class="table-custom table-custom-primary table-custom-striped">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Added by</th>
                        <th>Edit</th>
                        <th>Delete</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var organisation in Model)
                    {
                        <tr>
                            <td>@organisation.Organisation</td>
                            <td>@organisation.Creator</td>
                            <td><a asp-area="Administration" asp-controller="Donate" asp-action="Edit" asp-route-id=@organisation.Id>Edit</a></td>
                            <td><a asp-area="Administration" asp-controller="Donate" asp-action="Delete" asp-route-id=@organisation.Id>Delete</a></td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</section>





