@page
@model ExternalLoginModel
@{
    ViewData["Title"] = "Регистрация";
}

<!-- Breadcrumbs & Page title-->
<div class="page-title">
    <div class="page-title-text">@ViewData["Title"]</div>
    <ul class="breadcrumbs-custom">
        <li><a asp-area="" asp-controller="Home" asp-action="Index">Начало</a></li>
    </ul>
</div>
<section class="section-md section-md-alternate bg-white text-center">
    <div class="shell">
        <h4 id="external-login-title">Свържете вашия @Model.ProviderDisplayName акаунт.</h4>
        <hr />

        <p id="external-login-description" class="text-info">
            Вие успешно се удостоверихте с <strong>@Model.ProviderDisplayName</strong>.
            Моля, въведете имейл адрес за този сайт по-долу и кликнете върху бутона Регистрация, за да завършите
            логването.
        </p>

        <div class="shell range spacing-55 range range-sm-center">
            <div class="col-md-4">
                <form asp-page-handler="Confirmation" asp-route-returnUrl="@Model.ReturnUrl" method="post">
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Input.Email"></label>
                        <input asp-for="Input.Email" class="form-control" />
                        <span asp-validation-for="Input.Email" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label class="form-label-outside" asp-for="Input.NickName"></label>
                        <input asp-for="Input.NickName" class="form-control" />
                        <span asp-validation-for="Input.NickName" class="text-danger"></span>
                    </div>
                    <button type="submit" class="btn btn-primary">Register</button>
                </form>
            </div>
        </div>
    </div>
</section>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
