@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Страница за потвърждение";
}

<!-- Breadcrumbs & Page title-->
<div class="page-title">
    <div class="page-title-text">@ViewData["Title"]</div>
    <ul class="breadcrumbs-custom">
        <li><a asp-area="" asp-controller="Home" asp-action="Index">Начало</a></li>
    </ul>
</div>
<section class="section-md bg-white text-center">
    <div class="shell">
        <h3>
            Please check your email to reset your password.
        </h3>
    </div>
</section>

