@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Forgot your password?";
}
<!-- Breadcrumbs & Page title-->
<div class="page-title">
    <div class="page-title-text">@ViewData["Title"]</div>
    <ul class="breadcrumbs-custom">
        <li><a asp-area="" asp-controller="Home" asp-action="Index">Начало</a></li>
        <li class="active">@ViewData["Title"]</li>
    </ul>
</div>
<section class="section-md bg-white text-center">
    <div class="shell">
        <h4>Enter your email.</h4>
        <hr />
        <div class="shell range spacing-55 range range-sm-center">
            <div class="col-md-4">
                <form method="post">
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Input.Email"></label>
                        <input asp-for="Input.Email" class="form-control" />
                        <span asp-validation-for="Input.Email" class="text-danger"></span>
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>
    </div>
</section>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
