@{
    this.ViewData["Title"] = "Contact Us";
}

@if (TempData.ContainsKey("Message"))
{
    <div class="alert alert-success">@this.TempData["Message"]</div>
}

<!-- Breadcrumbs & Page title-->
<div class="page-title">
    <div class="page-title-text">Свържи се с нас</div>
    <ul class="breadcrumbs-custom">
        <li><a href="index.html">Начало</a></li>
        <li class="active">Свържи се с нас</li>
    </ul>
</div>
<!--ContactForm-->
<section class="section-md section-md-alternate bg-white text-center">
    <div class="shell">
        <!-- Contact Us-->
        <section class="section-md last-section bg-white text-center">
            <div class="shell">
                <div class="range range-sm-center">
                    <div class="cell-sm-10 cell-md-10 cell-lg-6">
                        <h4>Изпрати ни съобщение</h4>
                        <p>Ще получите отговор на пощата с , която сте се регистрирали</p>
                        <!-- RD Mailform-->
                        <partial name="_ContactForm" model="new AnimalShelter.Web.ViewModels.Contact.SendUsEmailFormInputModel()" />
                    </div>
                </div>
            </div>
        </section>
    </div>
</section>

<div class="shell">
    <hr>
</div>





