 <!-- Swiper-->
<section>
    <div class="swiper-bg-wrap swiper-style-1 bg-gray-dark">
        <div class="swiper-container swiper-slider swiper-bg swiper-height-1" data-autoplay="3500" data-slide-effect="fade">
            <div class="swiper-wrapper">
                <div class="swiper-slide" data-slide-bg="images/slider-1-slide-1-1920x850.jpg"></div>
                <div class="swiper-slide" data-slide-bg="images/slider-1-slide-2-1920x850.jpg"></div>
                <div class="swiper-slide" data-slide-bg="images/slider-1-slide-3-1920x850.jpg"></div>
            </div>
            <!-- Swiper Navigation-->
            <div class="swiper-button-prev"><span>Prev</span></div>
            <div class="swiper-button-next"><span>Next</span></div>
            <!-- Swiper pagination-->
            <div class="swiper-pagination"></div>
        </div>
        <div class="swiper-bg-content">
            <div class="jumbotron-custom jumbotron-custom-variant-1 context-dark">
                <div class="shell">
                    <div class="jumbotron-custom-inner">
                        <div class="complex-text wow fadeInUpSmall" data-wow-duration=".75s">
                            <p class="h1 complex-text-main">Спаси</p>
                            <div class="complex-text-aside">
                                <p class="h4 mark mark-alternate">малък</p>
                                <p class="h2">живот</p>
                            </div>
                        </div>
                        <p class="h3-alternate wow fadeInUpSmall" data-wow-delay=".1s" data-wow-duration=".75s">Направи дарение</p><a class="btn btn-blue-marguerite btn-effect-anis wow fadeInUpSmall" href="adopt-a-pet.html" data-wow-delay="0.2s" data-wow-duration=".75s">Дари</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- From & pets-->
<section class="section-md-bottom bg-gray-light">
    <div class="shell">
        <div class="box-form box-form-1">
            <!-- RD Mailform-->
            <form class="rd-mailform form-style-classic">
                <div class="range range-xs-center range-sm-bottom spacing-30">
                    <div class="cell-xs-10 cell-sm-6 cell-md-4">
                        <div class="form-group">
                            <label class="form-label-outside" for="form-location">Град</label>
                            <!--Select 2-->
                            <select class="form-control select-filter" id="form-location" data-placeholder="Any location" data-minimum-results-for-search="Infinity" data-constraints="@@Required" name="location">
                                <option value="1">Навсякъде</option>
                            </select>
                        </div>
                    </div>
                    <div class="cell-xs-10 cell-sm-6 cell-md-4">
                        <div class="form-group">
                            <label class="form-label-outside" for="form-animal-type">Тип</label>
                            <!--Select 2-->
                            <select class="form-control select-filter" id="form-animal-type" data-placeholder="All" data-minimum-results-for-search="Infinity" data-constraints="@@Required" name="animal-type">
                                <option value="1">Всички</option>
                                <option value="2">Котка</option>
                                <option value="3">Куче</option>
                                <option value="4">Друго</option>
                            </select>
                        </div>
                    </div>
                    <div class="cell-xs-10 cell-sm-6 cell-md-4">
                        <div class="form-group">
                            <label class="form-label-outside" for="form-sex">Пол</label>
                            <!--Select 2-->
                            <select class="form-control select-filter" id="form-sex" data-placeholder="All" data-minimum-results-for-search="Infinity" data-constraints="@@Required" name="sex">
                                <option value="1">Всички</option>
                                <option value="2">Женско</option>
                                <option value="3">Мъжко</option>
                            </select>
                        </div>
                    </div>
                    <div class="cell-xs-10 cell-sm-6 cell-md-4">
                        <div class="form-group">
                            <button class="btn btn-block btn-primary btn-effect-anis" type="submit">Намери</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="shell">
        <div class="range spacing-30">
            <div class="cell-sm-6">
                <!-- Thumbnail modern-->
                <div class="thumbnail-modern">
                    <img class="thumbnail-modern-image" src="images/home1-1-567x381.jpg" alt="" width="567" height="381" />
                    <div class="thumbnail-modern-caption">
                        <div class="thumbnail-modern-caption-body">
                            <div class="thumbnail-modern-title-left">Кучета</div>
                            <div class="thumbnail-modern-title-right">
                                <span>Повече от</span>
                                <div><span class="number">124</span><span>кучета</span></div>
                            </div>
                        </div>
                        <div class="thumbnail-modern-caption-aside"><a class="thumbnail-modern-control" href="adopt-a-pet.html#adopt-dogs">повече</a></div>
                    </div>
                </div>
            </div>
            <div class="cell-sm-6">
                <!-- Thumbnail modern-->
                <div class="thumbnail-modern">
                    <img class="thumbnail-modern-image" src="images/home1-2-567x381.jpg" alt="" width="567" height="381" />
                    <div class="thumbnail-modern-caption">
                        <div class="thumbnail-modern-caption-body">
                            <div class="thumbnail-modern-title-left">Котки</div>
                            <div class="thumbnail-modern-title-right">
                                <span>повече от</span>
                                <div><span class="number">155</span><span>котки</span></div>
                            </div>
                        </div>
                        <div class="thumbnail-modern-caption-aside"><a class="thumbnail-modern-control" href="adopt-a-pet.html#adopt-cats">повече</a></div>
                    </div>
                </div>
            </div>
            <div class="cell-sm-6">
                <!-- Thumbnail modern-->
                <div class="thumbnail-modern">
                    <img class="thumbnail-modern-image" src="images/home1-4-567x381.jpg" alt="" width="567" height="381" />
                    <div class="thumbnail-modern-caption">
                        <div class="thumbnail-modern-caption-body">
                            <div class="thumbnail-modern-title-left">Други</div>
                            <div class="thumbnail-modern-title-right">
                                <span>повече от</span>
                                <div><span class="number">155</span><span>други животни</span></div>
                            </div>
                        </div>
                        <div class="thumbnail-modern-caption-aside"><a class="thumbnail-modern-control" href="adopt-a-pet.html#adopt-small-pets">повече</a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="shell text-center">
        <article class="box-text">
            <h1>повече от 2450</h1>
            <div class="group-lg group-middle">
                <h3 class="displacement-1">животни</h3><a class="btn btn-blue-marguerite btn-effect-anis" href="adopt-a-pet.html">виж всички</a>
            </div>
        </article>
    </div>
</section>

<!-- About Us-->
<!--<section class="section-decoration-wrap">
    <div class="shell">
        <div class="range range-sm-center">
            <div class="cell-md-6 cell-lg-5">
                <div class="section-decoration-image">
                    <img src="images/home1-5-922x657.jpg" alt="" width="922" height="657" />
                </div>
            </div>
            <div class="cell-sm-9 cell-md-6 cell-lg-7">
                <div class="section-decoration-content">
                    <div class="section-lg">
                        <h2>About Us</h2>-->
                        <!-- Bootstrap tabs-->
                        <!--<div class="tabs-custom tabs-horizontal tabs-line tabs-left" id="tabs-1">-->
                            <!-- Nav tabs-->
                            <!--<ul class="nav nav-tabs">
                                <li class="active"><a href="#tabs-1-1" data-toggle="tab">our mission</a></li>
                                <li><a href="#tabs-1-2" data-toggle="tab">Our goal</a></li>
                                <li><a href="#tabs-1-3" data-toggle="tab">OUR VISION</a></li>
                            </ul>-->
                            <!-- Tab panes-->
                            <!--<div class="tab-content">
                                <div class="tab-pane fade in active" id="tabs-1-1">
                                    <p>Every year hundreds of animals such as dogs or cats become homeless for many reasons. Our mission is to find the homeless animals around the country and give them a better life.</p>
                                </div>
                                <div class="tab-pane fade" id="tabs-1-2">
                                    <p>Our goal is to make Animal Shelter the first place potential adopters turn to when looking to get a new pet, ensuring that all healthy and treatable pets find loving homes.</p>
                                </div>
                                <div class="tab-pane fade" id="tabs-1-3">
                                    <p>We see the future of Animal Shelter as a compassionate society where companion animals are valued and treated with respect and are guaranteed to find loving homes and families.</p>
                                </div>
                            </div>
                        </div><a class="btn btn-primary btn-effect-anis" href="about-us.html">read more</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>-->

<!-- SUCCESS STORIES-->
<section class="section-md bg-gray-light text-center">
    <div class="shell">
        <div class="range spacing-30">
            <div class="cell-xs-12">
                <h2>история с щастлив край</h2>
                <p class="large">Сподели снимка и кажи какво значи твоят домашен любимец за теб</p>
            </div>
            <div class="cell-xs-12">
                <div class="range range-sm-center spacing-30">
                    <div class="cell-sm-10 cell-md-6 height-fill">
                        <!-- Quote boxed-->
                        <blockquote class="quote-boxed">
                            <div class="quote-boxed-left">
                                <img class="quote-boxed-image" src="images/home1-6-280x320.jpg" alt="" width="280" height="320" />
                            </div>
                            <div class="quote-boxed-body">
                                <cite>Karen Sanders</cite>
                                <p class="caption">and Lex</p>
                                <p class="quote-text">
                                    <q>When I saw her picture on the site, I knew she had found her home.  She is a non-shedding bundle of cuteness affectionately known as ‘Lex”.</q>
                                </p>
                                <div class="quote-boxed-meta">
                                    <ul class="quote-boxed-meta-list">
                                        <li class="object-inline"><span class="icon icon-sm icon-primary-filled icon-circle mdi mdi-thumb-up-outline"></span><span>10</span></li>
                                        <li><span>March 15, 2016</span></li>
                                    </ul>
                                </div>
                            </div>
                        </blockquote>
                    </div>
                    <div class="cell-sm-10 cell-md-6 height-fill">
                        <!-- Quote boxed-->
                        <blockquote class="quote-boxed">
                            <div class="quote-boxed-left">
                                <img class="quote-boxed-image" src="images/home1-7-280x320.jpg" alt="" width="280" height="320" />
                            </div>
                            <div class="quote-boxed-body">
                                <cite>Jasmine Lee</cite>
                                <p class="caption">and Misty</p>
                                <p class="quote-text">
                                    <q>After adopting Misty in 2012, my life has changed greatly. I really appreciate what you did for her, and I’m glad that she found us.</q>
                                </p>
                                <div class="quote-boxed-meta">
                                    <ul class="quote-boxed-meta-list">
                                        <li class="object-inline"><span class="icon icon-sm icon-primary-filled icon-circle mdi mdi-thumb-up-outline"></span><span>43</span></li>
                                        <li><span>May 08, 2016</span></li>
                                    </ul>
                                </div>
                            </div>
                        </blockquote>
                    </div>
                    <div class="cell-sm-10 cell-md-6 height-fill">
                        <!-- Quote boxed-->
                        <blockquote class="quote-boxed">
                            <div class="quote-boxed-left">
                                <img class="quote-boxed-image" src="images/home1-8-280x320.jpg" alt="" width="280" height="320" />
                            </div>
                            <div class="quote-boxed-body">
                                <cite>Joanna Smith</cite>
                                <p class="caption">and Delta</p>
                                <p class="quote-text">
                                    <q>Delta is one of the most energetic and cheerful dogs I ever had! Thank you, Animal Shelter, for making my life more positive and happier!</q>
                                </p>
                                <div class="quote-boxed-meta">
                                    <ul class="quote-boxed-meta-list">
                                        <li class="object-inline"><span class="icon icon-sm icon-primary-filled icon-circle mdi mdi-thumb-up-outline"></span><span>23</span></li>
                                        <li><span>June 16, 2016</span></li>
                                    </ul>
                                </div>
                            </div>
                        </blockquote>
                    </div>
                    <div class="cell-sm-10 cell-md-6 height-fill">
                        <!-- Quote boxed-->
                        <blockquote class="quote-boxed">
                            <div class="quote-boxed-left">
                                <img class="quote-boxed-image" src="images/home1-9-280x320.jpg" alt="" width="280" height="320" />
                            </div>
                            <div class="quote-boxed-body">
                                <cite>Emily Peterson</cite>
                                <p class="caption">and Franco</p>
                                <p class="quote-text">
                                    <q>Thank you for helping me find a great friend for our family and children. Franco feels great in his new forever home, and it’s thanks to you!</q>
                                </p>
                                <div class="quote-boxed-meta">
                                    <ul class="quote-boxed-meta-list">
                                        <li class="object-inline"><span class="icon icon-sm icon-primary-filled icon-circle mdi mdi-thumb-up-outline"></span><span>13</span></li>
                                        <li><span>July 26, 2016</span></li>
                                    </ul>
                                </div>
                            </div>
                        </blockquote>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="bg-primary oh">
    <div class="shell">
        <div class="range range-custom-bordered-small">
            <div class="cell-xs-6 cell-sm-4 cell-md-3 cell-bordered">
                <div class="counter-box-bold">
                    <div class="counter" data-from="0" data-to="12">12</div>
                    <p class="counter-box-header">Търсещи дом</p>
                </div>
            </div>
            <div class="cell-xs-6 cell-sm-4 cell-md-3 cell-bordered">
                <div class="counter-box-bold">
                    <div class="counter counter-k" data-from="0" data-to="2.5" data-formatter="false">2.5</div>
                    <p class="counter-box-header">Осиновени животни</p>
                </div>
            </div>
            <div class="cell-xs-6 cell-sm-4 cell-md-3 cell-bordered">
                <div class="counter-box-bold">
                    <div class="counter" data-from="0" data-to="140">140</div>
                    <p class="counter-box-header">Доброволци</p>
                </div>
            </div>
            <div class="cell-xs-6 cell-sm-12 cell-md-3 height-fill">
                <div class="col-decoration-skew">
                    <div class="col-decoration-skew-inner">
                        <h2>Не бъди</h2>
                        <h5>безразличен</h5><a class="btn btn-trout-inverse btn-effect-anis btn-offset-medium" href="make-a-gift-online.html">дари сега</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- recent news-->
<!--<section class="section-sm bg-white text-center">
    <div class="shell">
        <h2>recent news</h2>
        <div class="range range-sm-center spacing-30">
            <div class="cell-sm-10 cell-md-6">-->
                <!-- Post boxed-->
                <!--<article class="post-boxed">
                    <div class="post-boxed-image-wrap">
                        <img class="post-boxed-image" src="images/home1-10-572x333.jpg" alt="" width="572" height="333" />
                    </div>
                    <div class="post-boxed-body">
                        <p class="post-boxed-title"><a href="single-post.html">Top 4 Dog Breeds You Can Easily Take to Work</a></p>
                        <div class="post-boxed-text">
                            <p>A dog in the workplace provides many positive benefits. However, before you decide to bring your dog to work with you check your company policies...</p>
                        </div>
                        <div class="post-boxed-footer">
                            <ul class="post-meta">
                                <li>
                                    <span class="icon icon-xs icon-tan-hide material-icons-access_time"></span>
                                    <time datetime="2016-01-01">February 10, 2016</time>
                                </li>
                                <li><span class="icon icon-xs icon-tan-hide mdi mdi-thumb-up"></span><span>23</span></li>
                                <li><a href="single-post.html"><span class="icon icon-xs icon-tan-hide mdi mdi-comment-outline"></span><span>6</span></a></li>
                            </ul>
                        </div>
                    </div>
                </article>
            </div>
            <div class="cell-sm-10 cell-md-6">-->
                <!-- Post boxed-->
                <!--<article class="post-boxed post-boxed-xs-horizontal post-boxed-blue-marguerite">
                    <div class="post-boxed-image-wrap">
                        <img class="post-boxed-image" src="images/home1-11-237x268.jpg" alt="" width="237" height="268" />
                    </div>
                    <div class="post-boxed-body">
                        <p class="post-boxed-title"><a href="single-post.html">Wellness Care Plans for Your Pets</a></p>
                        <div class="post-boxed-text">
                            <p>Have you ever considered enrolling your pet in a wellness care plan? These plans are quickly gaining popularity, and with good reason...</p>
                        </div>
                        <div class="post-boxed-footer">
                            <ul class="post-meta">
                                <li>
                                    <span class="icon icon-xs icon-tan-hide material-icons-access_time"></span>
                                    <time datetime="2016-01-01">February 10, 2016</time>
                                </li>
                                <li><span class="icon icon-xs icon-tan-hide mdi mdi-thumb-up"></span><span>23</span></li>
                                <li><a href="single-post.html"><span class="icon icon-xs icon-tan-hide mdi mdi-comment-outline"></span><span>6</span></a></li>
                            </ul>
                        </div>
                    </div>
                </article>-->
                <!-- Post boxed-->
                <!--<article class="post-boxed post-boxed-xs-horizontal post-boxed-tan-hide">
                    <div class="post-boxed-image-wrap">
                        <img class="post-boxed-image" src="images/home1-12-237x268.jpg" alt="" width="237" height="268" />
                    </div>
                    <div class="post-boxed-body">
                        <p class="post-boxed-title"><a href="single-post.html">Top 5 Most Affectionate Cats</a></p>
                        <div class="post-boxed-text">
                            <p>Contrary to popular belief, not all cats are the epitome of indifference. Some cat breeds are among the most affectionate and loving pets...</p>
                        </div>
                        <div class="post-boxed-footer">
                            <ul class="post-meta">
                                <li>
                                    <span class="icon icon-xs icon-tan-hide material-icons-access_time"></span>
                                    <time datetime="2016-01-01">February 10, 2016</time>
                                </li>
                                <li><span class="icon icon-xs icon-tan-hide mdi mdi-thumb-up"></span><span>23</span></li>
                                <li><a href="single-post.html"><span class="icon icon-xs icon-tan-hide mdi mdi-comment-outline"></span><span>6</span></a></li>
                            </ul>
                        </div>
                    </div>
                </article>
            </div>
        </div>
    </div>
</section>-->

<!-- RD Google Map-->
<section class="box-wrap">
    <div class="box-wrap-map">
        <div class="rd-google-map rd-google-map__model" data-zoom="15" data-x="23.515156" data-y="42.707290">
            <ul class="map_locations">
                <li data-y="42.707290" data-x="23.515156">
                </li>
            </ul>
        </div>
    </div>
    <div class="box-wrap-content">
        <div class="shell">
            <div class="box-wrap-content-interactive">
                <div class="box-contacts">
                    <h4>Адрес</h4>
                    <address>
                        <p>
                            „Хан Богров“ 20
                        </p>
                    </address>
                    <h4>Имейл</h4>
                    <ul class="list-0">
                        <p>
                            office@arsofia.com
                        </p>
                        <p>
                            volunteers@arsofia.com
                        </p>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>

