@{
    this.ViewData["Title"] = "Pet Profile";
}
<!-- Breadcrumbs & Page title-->
<div class="page-title">
    <div class="page-title-text">Single Page Pets</div>
    <ul class="breadcrumbs-custom">
        <li><a href="index.html">Home</a></li>
        <li><a href="#">Adopt a Pet</a></li>
        <li class="active">Pet Profile</li>
    </ul>
</div>

<!-- Contacts-->
<section class="section-md bg-white text-center">
    <div class="shell">
        <div class="range range-sm-center">
            <div class="cell-sm-9 cell-md-12">
                <!-- Box profile-->
                <article class="box-profile">
                    <div class="box-profile-left">
                        <img class="box-profile-image" src="images/lavender-570x389.jpg" alt="" width="570" height="389" />
                    </div>
                    <div class="box-profile-body">
                        <p class="box-profile-name">Lavender</p>
                        <p class="box-profile-description">Spayed Female</p>
                        <div class="box-profile-text">
                            <p>This beautiful cat had health issues her family couldn’t take care of, so she came to us, and we quickly found her a place in our shelter. She is a very lovable 4 yr old female domestic shorthair cat and she weighs 10 pounds. Lavender is all about affection and looking for that special person to spend the rest of her life with. She is wonderful indoors and she enjoys dry cat food.</p>
                            <p class="box-profile-title">Information for Adopters</p>
                            <p>All cats and kittens have been vet-checked, spayed/neutered, and are up-to-date on vaccinations. Adoption fee includes carrier, scratching pad, starter pack of food and litter, and toy. We prefer kittens be adopted in pairs. We offer free advice anytime about your adopted cat. If, for any reason, it doesn't work out, we will take the cat back, anytime in the future. Potential adopters must be interviewed in person, at the shelter, and live within 150 miles of Animal Shelter.</p>
                        </div>
                    </div>
                </article>
            </div>
        </div>
    </div>
</section>